/* from content.sass */
.home
  .home__slider
    margin-top: -117px
    background-color: rgba(#171717, 0.6)

.slider
  position: relative
  &__item
    padding: 348px 0 245px 0
  &-item
    background-color: rgba(#171717, 0.6)
    display: none
    text-align: center
    &__text
      font-size: em(35)
      font-family: "MontserratBold"
      text-transform: uppercase
      span
        color: #18cfab
    &__title
      font-size: em(79)
      font-family: "MontserratBold"
      text-transform: uppercase
    &__description
      font-size: em(34)
      color: #d4d4d4
      font-family: "MontserratLight"
      text-transform: capitalize
    &__explore,
    &__purchase
      margin-top: 134px
      text-transform: uppercase
      font-size: em(13)
      padding: 20px 32px
      background-color: #18cfab
      border-top: 5px solid #fff
      border-radius: 4px
      display: inline-block
      text-decoration: none
      color: #fff
    &__purchase
      background-color: #00cbf6
      margin-left: 30px
  &__nav
    position: absolute
    bottom: 118px
    right: 204px
  &-nav
    width: 171px
    &__preview
      width: 100%
      height: 105px
      margin-bottom: 18px
      opacity: 0.3
      background-color: #171717
    &__left-arrow,
    &__right-arrow
      display: inline-block
      width: 63px
      height: 63px
      background: #3c4140 url(../img/arrow-default.png) no-repeat 50% 50%
      cursor: pointer
      transition: background-color 0.4s
      &:hover
        background: #18cfab url(../img/arrow-hover.png) no-repeat 50% 50%
        transform: rotate(180deg)
    &__right-arrow
      margin-left: 45px
      transform: rotate(180deg)
      &:hover
        transform: rotate(0deg)
  &-item__active
    display: block
