/* from content.sass */
.home
  .home__slider
    margin-top: -117px
    background-color: rgba(#171717, 0.6)

.slider
  position: relative
  &__item
    padding: 348px 0 245px 0
  &-item
    background-color: rgba(#171717, 0.6)
    display: none
    text-align: center
    &__text
      font-size: em(35)
      font-family: "MontserratBold"
      text-transform: uppercase
      span
        color: #18cfab
    &__title
      font-size: em(79)
      font-family: "MontserratBold"
      text-transform: uppercase
    &__description
      font-size: em(34)
      color: #d4d4d4
      font-family: "MontserratLight"
      text-transform: capitalize
    &__explore,
    &__purchase
      margin-top: 134px
      text-transform: uppercase
      font-size: em(13)
      padding: 20px 32px
      background-color: #18cfab
      border-top: 5px solid #fff
      border-radius: 4px
      display: inline-block
      text-decoration: none
      color: #fff
    &__purchase
      background-color: #00cbf6
      margin-left: 30px
  &__nav
    position: absolute
    bottom: 118px
    right: 204px
  &-nav
    width: 171px
    &__preview
      width: 100%
      height: 105px
      margin-bottom: 18px
      opacity: 0.3
      background-color: #171717
    &__left-arrow,
    &__right-arrow
      display: inline-block
      width: 63px
      height: 63px
      background: #3c4140 url(../img/arrow-default.png) no-repeat 50% 50%
      cursor: pointer
      transition: background-color 0.4s
      &:hover
        background: #18cfab url(../img/arrow-hover.png) no-repeat 50% 50%
        transform: rotate(180deg)
    &__right-arrow
      margin-left: 45px
      transform: rotate(180deg)
      &:hover
        transform: rotate(0deg)
  &-item__active
    display: block

.options
  &-item
    width: 25%
    padding: 88px 0 120px 0
    text-align: center
    display: inline-block
    font-size: em(20)
    text-transform: uppercase
    vertical-align: top
    &__logo
      background-color: #fff
      display: inline-block
      width: 100px
      height: 100px
    &__logo_logo-1
      background: url(../img/option-1.png) no-repeat 50% 50%
    &__logo_logo-2
      background: url(../img/option-2.png) no-repeat 50% 50%
    &__logo_logo-3
      background: url(../img/option-3.png) no-repeat 50% 50%
    &__logo_logo-4
      background: url(../img/option-4.png) no-repeat 50% 50%
    &:nth-child(2n-1)
      background-color: #1c2a33
      color: #18cfab
      border-top: 7px solid #18cfab
    &:nth-child(2n)
      background-color: #18cfab
      border-top: 7px solid #fff

.features
  padding: 83px 186px
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 195px
    &::after
      top: 79px
      left: 207px
  &__item
    display: inline-block
    width: 325px
    margin-right: 80px
    &:nth-child(3n+2)
      margin-right: 0

.features-item
  text-align: left
  margin-top: 75px
  cursor: pointer
  &:hover
    .features-item__title
      color: #18cfab
  &__title
    font-size: em(18)
    color: #717171
    margin-left: 47px
    text-transform: capitalize
    position: relative
    &::after
      position: absolute
      content: ""
      width: 35px
      height: 35px
      left: -50px
      top: -5px
  &__description
    font-size: em(14)
    font-family: "MontserratLight"
    color: #777
    margin-top: 15px

.features-item:nth-child(3)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 0
.features-item:nth-child(4)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -400px 0
.features-item:nth-child(5)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -811px 0
.features-item:nth-child(6)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 -185px
.features-item:nth-child(7)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -405px -185px
.features-item:nth-child(8)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -810px -185px
.features-item:nth-child(9)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 -372px
.features-item:nth-child(10)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -405px -370px
.features-item:nth-child(11)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -810px -370px

.about
  background-color: rgba(#1c2a33, 1)
  &__image
    display: inline-block
    width: 900px
    height: 500px
    background-color: #b3b3b3
    vertical-align: bottom
    text-align: center
    cursor: pointer
  &__content
    display: inline-block
    margin: 100px 0 100px 75px

.about-content
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #fff
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 127px
    &::after
      top: 79px
      left: 139px
  &__history,
  &__biography,
  &__skills
    display: none
  .active
    display: block
  .skills
    color: #fff
    font-size: em(13)
    text-transform: uppercase
    &__item
      border: 1px solid #18cfab
      border-radius: 4px
      cursor: pointer
      width: 536px
      height: 37px
      p
        padding: 9px 0 9px 18px
        display: block
        border-radius: 4px
        width: 70%
        height: 21px
        margin-top: -1px
        margin-left: -1px
      &:not(:last-child)
        margin-bottom: 14px
    &__item_item-1
      p
        background-color: #9c5da5
        width: 72%
    &__item_item-2
      p
        background-color: #11b0de
        width: 82%
    &__item_item-3
      p
        background-color: #d67f7f
        width: 65%
    &__item_item-4
      p
        background-color: #20bc9d
        width: 88%
    &__item_item-5
      p
        background-color: #bb8a36
        width: 82%
  .biography
    width: 553px
    font-size: em(14)
    color: #bebebe
    font-family: "MontserratLight"
    &__text:first-child
      margin-bottom: 30px
  .history
    width: 554px
    font-size: em(14)
    color: #bebebe
    font-family: "MontserratLight"
    &__text:first-child + p
      margin-bottom: 40px
    &__achievement
      display: inline-block
      padding-left: 38px
      margin-top: 10px
      position: relative
      &:nth-child(2n)
        margin-left: 60px
      &::before
        position: absolute
        content: ""
        width: 23px
        height: 23px
        background: url(../img/achive-icon.png) no-repeat 0 0
        top: 0
        left: 0
  &__nav.nav
    margin-top: 95px
    margin-bottom: 60px
    .nav__item
      display: inline-block
      font-family: "MontserratBold"
      text-transform: uppercase
      color: whitesmoke
      cursor: pointer
      border-top: 2px solid transparent
      transition: 0.4s
      &:not(:last-child)
        margin-right: 22px
    .nav__item.active,
    .nav__item:hover
      color: #18cfab
      border-top: 2px solid #18cfab

.work
  background-color: #f8fcfe
  padding: 83px 0 99px 0
  text-align: center
  border-top: 1px solid #e1e1e1
  border-bottom: 1px solid #e1e1e1
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 127px
    &::after
      top: 79px
      left: 139px
  &__nav
    display: inline-block
    margin-top: 100px
  &__list
    display: inline-block
    width: 1140px
    height: 622px
    margin-top: 70px
  &__button_special
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    color: #fff
    padding: 15px 55px
    border-radius: 4px
    background-color: #18cfab
    margin-top: 69px
    font-size: em(14)

.work-nav
  background-color: #fff
  &__item
    display: inline-block
    text-decoration: none
    text-transform: capitalize
    color: #717171
    font-size: em(14)
    padding: 18px 20px
    border: 1px solid #ebebeb
    vertical-align: top
    transition: color 0.4s
    &:nth-child(n):not(:last-child)
      border-right: 0
    &:hover
      color: #18cfab
      border-top: 2px solid #18cfab
      padding-bottom: 17px

.work-list
  &__item
    width: 25%
    height: 33%
    display: inline-block
    position: relative
    cursor: pointer
    border-top: 2px solid #18cfab
    text-align: center
    .item__image
      display: none
    .item__icon_icon-1,
    .item__icon_icon-2
      display: inline-block
      width: 41px
      height: 40px
      border-radius: 50%
      background: url(../img/work-icon-1.png) no-repeat 0 0
      margin: 44px 0 20px 0
    .item__icon_icon-2
      margin-left: 5px
      background: url(../img/work-icon-2.png) no-repeat 0 0
    .item__name
      font-size: em(14)
      text-transform: uppercase
      color: #18cfab
    .item__type
      font-family: "MontserratLight"
      color: #8a8a8a
      font-size: em(12)
      text-transform: capitalize
    &::after
      position: absolute
      content: ""
      width: 100%
      height: 101%
      background-color: #24413e
      left: 0
      top: -2px
      transition: 0.4s
    &:hover::after
      height: 0%
  &__item:nth-child(2)::after,
  &__item:nth-child(4)::after,
  &__item:nth-child(5)::after,
  &__item:nth-child(7)::after,
  &__item:nth-child(10)::after,
  &__item:nth-child(12)::after
    background-color: #8a8a8a

.services
  background-color: #fff
  padding: 83px 0 99px 0
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 66px
    &::after
      top: 79px
      left: 78px
  &__nav
    display: inline-block
    margin-top: 100px
  &__list
    display: inline-block
    margin-top: 26px

.services-nav
  background-color: #f8fcfe
  &__item
    display: inline-block
    text-decoration: none
    text-transform: capitalize
    color: #717171
    font-size: em(14)
    padding: 18px 46px
    border: 1px solid #ebebeb
    vertical-align: top
    transition: color 0.4s
    &:nth-child(n):not(:last-child)
      border-right: 0
    &:hover
      background-color: #18cfab
      color: #fff
  &__item_active
    background-color: #18cfab
    color: #fff

.services-list
  &__item
    display: none
  &__item_active
    display: block
    .item__logo
      width: 193px
      height: 138px
      background-color: #797979
      display: inline-block
      vertical-align: top
      margin-right: 17px
    .item__description
      vertical-align: top
      font-family: "MontserratLight"
      font-size: em(14)
      color: #777
      text-align: justify
      display: inline-block
      width: 930px

.purchase
  padding: 127px 0
  background-color: #40464a
  text-align: center
  &__title
    font-size: em(40)
    text-transform: uppercase
    color: #18cfab
    font-family: "MontserratBold"
  &__description
    margin-top: 12px
    font-family: "MontserratLight"
    color: #d8d8d8
  &__button
    margin-top: 75px
    text-transform: uppercase
    font-size: em(13)
    padding: 20px 32px
    background-color: #18cfab
    border-top: 5px solid #fff
    border-radius: 4px
    display: inline-block
    text-decoration: none
    color: #fff

.news
  background-color: #fff
  padding: 83px 235px 72px
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 88px
    &::after
      top: 79px
      left: 100px
  &__list
    margin-top: 96px
    display: inline-block

.news-list
  &__item
    display: inline-block
    padding-bottom: 10px
    width: 263px
    margin-right: 29px
    text-align: left
    border: 1px solid #ebebeb
    margin-bottom: 28px
    position: relative
    cursor: pointer
    &:nth-child(4),
    &:last-child
      margin-right: 0
    .item
      &__date
        position: absolute
        padding: 7px 18px
        background-color: #203e38
        right: 0
        top: 0
        width: 30px
        text-align: center
      &__preview
        width: 263px
        height: 227px
        background-color: #9e9e9e
      &__title
        font-size: em(18)
        color: #717171
        text-transform: capitalize
        margin-left: 20px
        margin-bottom: 5px
      &__posted-by,
      &__comments
        display: inline-block
        font-size: em(14)
        color: #777
        font-family: "MontserratLight"
      &__posted-by
        margin-left: 20px
      &__comments
        border-left: 1px solid #777
        text-decoration: none
        margin-left: 10px
        padding-left: 10px
  &__item:hover
    .item
      &__title
        color: #18cfab
      &__date
        background-color: #18cfab

.facts
  &-item
    width: 25%
    padding: 63px 0 54px 0
    text-align: center
    display: inline-block
    font-size: em(20)
    text-transform: uppercase
    vertical-align: top
    &__logo
      display: inline-block
      width: 111px
      height: 111px
      border-radius: 50%
      border: 25px solid #1c2a33
      box-shadow: 0 0 0 2px #18cfab
    &__logo_logo-1
      background: #18cfab url(../img/facts-icons.png) no-repeat 37px 34px
    &__logo_logo-2
      background: #1c2a33 url(../img/facts-icons.png) no-repeat -444px 34px
    &__logo_logo-3
      background: #18cfab url(../img/facts-icons.png) no-repeat -923px 34px
    &__logo_logo-4
      background: #1c2a33 url(../img/facts-icons.png) no-repeat -1403px 34px
    &__count
      font-size: em(36)
    &__type
      font-size: em(18)
      color: #18cfab
      font-family: "MontserratLight"
      text-transform: capitalize
    &:nth-child(2n-1)
      background-color: #1c2a33
      border-top: 7px solid #18cfab
    &:nth-child(2n)
      background-color: #18cfab
      border-top: 7px solid #1c2a33
      .facts-item__logo
        border: 25px solid #18cfab
        box-shadow: 0 0 0 2px #1c2a33
      .facts-item__type
        font-size: em(18)
        color: #1c2a33

.pricing
  background-color: #fff
  padding: 83px 0 98px 0
  text-align: center
  &__title
    margin-bottom: 95px
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 110px
    &::after
      top: 79px
      left: 122px
  &__item
    display: inline-block
    &:not(:first-child)
      margin-left: -2px
  .item
    box-sizing: border-box
    width: 268px
    border: 1px solid #e1e1e1
    border-radius: 5px
    background-color: #f8fcfe
    &__type
      font-size: em(24)
      font-family: "MontserratBold"
      padding: 25px 0 20px 0
      color: #717171
      text-transform: uppercase
    &__price
      padding: 30px 0
      font-size: em(39)
      font-family: "MontserratBold"
      color: #fff
      background-color: #2e4a5b
      margin-bottom: 5px
      border: 1px solid #ebebeb
      span
        font-family: "MontserratLight"
        font-size: em(8)
    &__feature
      padding: 20px 0 15px 0
      border: 1px solid #e1e1e1
      font-size: em(14)
      color: #777
      text-transform: capitalize
    &__buy-button
      text-decoration: none
      color: #fff
      font-size: em(14)
      font-family: "MontserratBold"
      text-transform: uppercase
      padding: 13px 50px
      background-color: #2e4a5b
      border-radius: 3px
      margin: 24px 0 28px 0
      display: inline-block
  .item_special
    box-shadow: 0 0 9px #c7c7c7
    position: relative
    .item__type
      color: #18cfab
      position: relative
      overflow: hidden
      &::after
        position: absolute
        content: "OFFER"
        padding: 2px 20px
        background-color: #18cfab
        color: #fff
        font-size: em(9)
        right: -22px
        top: 9px
        transform: rotate(45deg)
    .item__buy-button,
    .item__price
      background-color: #18cfab

.feedback
  background-color: rgba(#2e404c, 1)
  padding: 83px 0 98px
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #fff
    position: relative
    display: inline-block
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 245px
    &::after
      top: 79px
      left: 257px
  &__slider
    position: relative
    display: block
    margin: 165px auto 0
    width: 600px

.feedback-slider
  &__item
    position: relative
    &::before
      position: absolute
      content: ""
      width: 44px
      height: 33px
      background: url(../img/quotes.png) no-repeat 0 0
      left: 48%
      top: -67px
    .item__comment
      font-family: "MontserratLight"
      color: #bbb
    .item__author
      margin-top: 30px
      text-transform: uppercase
      color: #18cfab
    .item__author-position
      font-size: em(13)
      color: #bbb
    .item__author-photo
      display: inline-block
      width: 139px
      height: 139px
      border-radius: 50%
      background-color: #878787
      border: 3px solid #18cfab
      box-shadow: 0 0 0 10px #2a5f60
      margin-top: 35px
  .feedback-slider-nav
    margin-top: 70px
    display: inline-block
    &__item
      cursor: pointer
      display: inline-block
      vertical-align: bottom
      width: 58px
      height: 58px
      background-color: #878787
      box-shadow: 0 0 0 5px #2a5f60
      border-radius: 50%
      &:not(:last-child)
        margin-right: 35px
    &__item_active
      vertical-align: top
      border: 2px solid #18cfab
      width: 56px
      height: 56px
      margin-bottom: 10px

.team
  background-color: #fff
  padding: 83px 0 98px 0
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    margin-bottom: 96px
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 90px
    &::after
      top: 79px
      left: 102px
  &__item
    display: inline-block
    &:not(:last-child)
      margin-right: 28px
  .item
    cursor: pointer
    width: 264px
    background-color: #2e4a5b
    transition: 0.4s
    &__photo
      width: 100%
      height: 229px
      background-color: #dae9e6
      position: relative
    &__name
      text-align: left
      margin-top: 13px
      margin-left: 27px
    &__position
      font-size: em(13)
      font-family: "MontserratLight"
      color: #18cfab
      text-align: left
      margin-left: 27px
      margin-top: 3px
      margin-bottom: 16px
    &__socials-links
      border-top: 1px solid #fff
      height: 65px
      .social-links__item
        display: inline-block
        width: 65px
        height: 65px
        background: url(../img/social-links.png) no-repeat 0 0
        &:not(:last-child)
          border-right: 1px solid #fff
      .social-links__item_fb
        background-position: 27px 50%
      .social-links__item_tw
        background-position: -38px 50%
      .social-links__item_sk
        background-position: -105px 50%
      .social-links__item_vimeo
        background-position: -171px 50%
  .item:hover
    background-color: #18cfab
    .item__photo
      background-color: rgba(#2e4a5b, 0.5)
      &::after
        position: absolute
        content: "+"
        left: 97px
        top: 83px
        color: #18cfab
        font-size: em(72)
        padding: 0 16px
        line-height: 69px
        background-color: #fff
        opacity: 0.9
        border-radius: 50%
        border: 5px solid rgba(#2e4a5b, 0.5)
        box-shadow: 0 0 0 2px #18cfab
    .item__position
      color: #2e4a5b

.buy
  background-color: rgba(#2e404c, 1)
  padding: 83px 0 98px 0
  text-align: center
  overflow: hidden
  &__title
    font-family: "MontserratBold"
    text-transform: uppercase
    font-size: em(51)
    color: #fff
    display: inline-block
  &__description
    text-transform: uppercase
    font-size: em(47)
    color: #18cfab
    display: inline-block
    margin-bottom: 76px
  &__image
    float: left
    width: 1119px
    height: 564px
    background: url(../img/image-buy-section.png) no-repeat 0 0
    background-size: 100% 100%
  &__features
    text-align: left
    font-family: "MontserratLight"
    font-size: em(14)
    color: #f7f7f7

.buy-features
  margin-top: 18px
  &__item
    position: relative
    display: inline-block
    &:not(:last-child)
      margin-bottom: 10px
    &::before
      position: absolute
      content: ""
      width: 24px
      height: 24px
      background: url(../img/features-icon.png) no-repeat 0 0
      top: 0
      left: -45px
  &__button
    margin-top: 62px
    text-transform: uppercase
    font-family: "MontserratRegular"
    font-size: em(13)
    padding: 20px 32px
    background-color: #18cfab
    border-top: 5px solid #fff
    border-radius: 4px
    display: inline-block
    text-decoration: none
    color: #fff
    margin-left: -44px

.contact
  padding: 130px 0
  background-color: #fff
  &__map
    display: inline-block
    width: 944px
    height: 549px
    background-color: #9e9e9e
    vertical-align: top
    text-align: center
  &__feedback-form
    display: inline-block
    vertical-align: top

.feedback-form
  margin-left: 30px
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    margin-bottom: 112px
    margin-top: -16px
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 80px
    &::after
      top: 79px
      left: 92px
  &__field
    display: block
    font-family: "MontserratLight"
    font-size: em(14)
    color: #90aebd
    padding: 19px 0 19px 17px
    text-transform: capitalize
    width: 537px
    border: 1px solid #c1d2cf
    resize: none
    margin-bottom: 12px
  textarea
    height: 146px
  &__submit
    font-family: "MontserratBold"
    text-transform: uppercase
    color: #fff
    border: 0
    background-color: #18cfab
    border-radius: 3px
    border-bottom: 3px solid #08bf9b
    display: inline-block
    padding: 19px 216px 16px 216px
    font-size: em(16)
    max-width: 556px
