/* from content.sass */
.home
  .home__slider
    margin-top: -117px
    background-color: rgba(#171717, 0.6)

.slider
  position: relative
  &__item
    padding: 348px 0 245px 0
  &-item
    background-color: rgba(#171717, 0.6)
    display: none
    text-align: center
    &__text
      font-size: em(35)
      font-family: "MontserratBold"
      text-transform: uppercase
      span
        color: #18cfab
    &__title
      font-size: em(79)
      font-family: "MontserratBold"
      text-transform: uppercase
    &__description
      font-size: em(34)
      color: #d4d4d4
      font-family: "MontserratLight"
      text-transform: capitalize
    &__explore,
    &__purchase
      margin-top: 134px
      text-transform: uppercase
      font-size: em(13)
      padding: 20px 32px
      background-color: #18cfab
      border-top: 5px solid #fff
      border-radius: 4px
      display: inline-block
      text-decoration: none
      color: #fff
    &__purchase
      background-color: #00cbf6
      margin-left: 30px
  &__nav
    position: absolute
    bottom: 118px
    right: 204px
  &-nav
    width: 171px
    &__preview
      width: 100%
      height: 105px
      margin-bottom: 18px
      opacity: 0.3
      background-color: #171717
    &__left-arrow,
    &__right-arrow
      display: inline-block
      width: 63px
      height: 63px
      background: #3c4140 url(../img/arrow-default.png) no-repeat 50% 50%
      cursor: pointer
      transition: background-color 0.4s
      &:hover
        background: #18cfab url(../img/arrow-hover.png) no-repeat 50% 50%
        transform: rotate(180deg)
    &__right-arrow
      margin-left: 45px
      transform: rotate(180deg)
      &:hover
        transform: rotate(0deg)
  &-item__active
    display: block

.options
  &-item
    width: 25%
    padding: 88px 0 120px 0
    text-align: center
    display: inline-block
    font-size: em(20)
    text-transform: uppercase
    vertical-align: top
    &__logo
      background-color: #fff
      display: inline-block
      width: 100px
      height: 100px
    &__logo_logo-1
      background: url(../img/option-1.png) no-repeat 50% 50%
    &__logo_logo-2
      background: url(../img/option-2.png) no-repeat 50% 50%
    &__logo_logo-3
      background: url(../img/option-3.png) no-repeat 50% 50%
    &__logo_logo-4
      background: url(../img/option-4.png) no-repeat 50% 50%
    &:nth-child(2n-1)
      background-color: #1c2a33
      color: #18cfab
      border-top: 7px solid #18cfab
    &:nth-child(2n)
      background-color: #18cfab
      border-top: 7px solid #fff

.features
  padding: 83px 359px
  text-align: center
  &__title
    text-transform: capitalize
    font-size: em(36)
    color: #4e4e4e
    position: relative
    display: inline-block
    margin-right: 20px
    &::before,
    &::after
      position: absolute
      content: ""
      width: 76px
      height: 1px
      background-color: #18cfab
      top: 76px
      left: 195px
    &::after
      top: 79px
      left: 207px
  &__item
    display: inline-block
    width: 325px
    margin-right: 80px
    &:nth-child(3n+2)
      margin-right: 0

.features-item
  text-align: left
  margin-top: 75px
  cursor: pointer
  &:hover
    .features-item__title
      color: #18cfab
  &__title
    font-size: em(18)
    color: #717171
    margin-left: 47px
    text-transform: capitalize
    position: relative
    &::after
      position: absolute
      content: ""
      width: 35px
      height: 35px
      left: -50px
      top: -5px
  &__description
    font-size: em(14)
    font-family: "MontserratLight"
    color: #777
    margin-top: 15px

.features-item:nth-child(3)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 0
.features-item:nth-child(4)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -400px 0
.features-item:nth-child(5)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -811px 0
.features-item:nth-child(6)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 -185px
.features-item:nth-child(7)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -405px -185px
.features-item:nth-child(8)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -810px -185px
.features-item:nth-child(9)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat 0 -372px
.features-item:nth-child(10)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -405px -370px
.features-item:nth-child(11)
  .features-item__title::after
    background: url(../img/features-icons.png) no-repeat -810px -370px
