/* from responsive.sass */
@media screen and (max-width: 1690px)
  .page-header
    padding: 25px 200px

@media screen and (max-width: 1539px)
  .contact
    &__map
      width: 800px
  .feedback-form
    &__field
      width: 437px
    &__submit
      padding: 19px 166px 16px
  .about
    &__image
      height: 400px
      width: 700px
  .news
    padding: 83px 50px 72px
  .features
    padding: 83px 0

@media screen and (max-width: 1330px)
  .page-header
    padding: 25px 50px
  .about
    &__image
      height: 300px
      width: 600px
    &__content
      margin: 50px 0 50px 50px
  .buy
    &__image
      height: 414px
      width: 969px
    &__features
      margin-top: -25px
  .contact
    &__map
      width: 650px
  .news
    padding: 83px 0 72px

@media screen and (max-width: 1200px)
  .slider
    &__nav
      position: absolute
      bottom: 118px
      right: 50px
  .options
    &-item
      font-size: em(16)
  .features
    &__item
      display: inline-block
      width: 325px
      margin-right: 111px
      &:nth-child(3n+2)
        margin-right: 111px
      &:nth-child(2n)
        margin-right: 0
      &:last-child
        margin-right: 35px
        margin-left: 35px
  .about
    text-align: center
    &__image
      display: none
    &__content
      margin-right: 0
      p
        text-align: left
  .work
    &__list
      width: 900px
      height: 550px
  .services-nav
    background-color: #f8fcfe
    &__item
      padding: 18px 20px
  .services-list
    &__item_active
      .item__description
        width: 619px
  .news-list
    &__item
      &:nth-child(4),
      &:last-child
        margin-right: 29px
  .pricing
    .item
      width: 215px
  .team
    &__item
      &:last-child
        margin-right: 28px
  .buy
    &__image
      height: 214px
      margin-right: 60px
      width: 650px
  .contact
    &__map
      width: 550px
    &__field
      width: 400px
  .page-footer
    &__tags,
    &__feed
      display: none
    &__blog
      margin-right: 0

@media screen and (max-width: 1040px)
  .page-header
    padding: 25px 10px
  .contact
    padding-top: 0
    text-align: center
    &__map
      width: 100%
      margin-bottom: 60px
    .feedback-form
      margin-left: 0

@media screen and (max-width: 920px)
  .page-header
    padding: 25px 100px
    &__top-menu
      display: none
  .slider
    &__nav
      position: absolute
      bottom: 15px
      right: 30px
  .options
    font-size: em(12)
    &__item
      padding: 60px 0
      max-height: 125px
  .about
    &__content
      margin-left: 0
  .about-content
    .skills__item
      width: 450px
  .work
    &__list
      width: 95%
  .work-list
    &__item
      width: 33%
    &__item:nth-child(1)::after,
    &__item:nth-child(3)::after,
    &__item:nth-child(5)::after,
    &__item:nth-child(7)::after,
    &__item:nth-child(9)::after,
    &__item:nth-child(11)::after
      background-color: #24413e
    &__item:nth-child(2)::after,
    &__item:nth-child(4)::after,
    &__item:nth-child(6)::after,
    &__item:nth-child(8)::after,
    &__item:nth-child(10)::after,
    &__item:nth-child(12)::after
      background-color: #8a8a8a

@media screen and (max-width: 800px)
  .features
    &__item
      display: block
      width: 315px
      text-align: center
      margin: 50px auto 0 auto
      &:nth-child(3n+2)
        margin: 50px auto 0 auto
      &:nth-child(2n)
        margin: 50px auto 0 auto
      &:last-child
        margin-right: auto
        margin-left: auto
  .features-item
    text-align: center
    &__title
      margin-left: 0
      &::after
        left: 5px
  .work-nav
    &__item
      padding: 18px 10px
  .news-list
    &__item
      &:nth-child(2n),
      &:last-child
        margin-right: 0
  .facts
    .facts-item
      .facts-item__logo
        border: 0
        box-shadow: none

@media screen and (max-width: 700px)
  .page-footer
    &__blog
      display: none
    &__contacts
      margin-right: 0

@media screen and (max-width: 558px)
  .news-list
    &__item
      margin-right: 0
