doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Your page description')
    meta(name='author', content='Your page author')
    title Your Title
    link(href="css/styles.css", rel="stylesheet")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    <![if lt IE 9]>
      script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
    <![endif]-->
    script(src="js/script.js")
  body
    .page-wrapper
      header.page-header
        a(href="#").page-header__logo
        a(href="#").page-header__search-button
        .page-header__top-menu
          ul.top-menu
            li.top-menu__item: a(href="#") home
            li.top-menu__item: a(href="#") about
            li.top-menu__item: a(href="#") skills
            li.top-menu__item: a(href="#") service
            li.top-menu__item: a(href="#") work
            li.top-menu__item: a(href="#") testimonial
            li.top-menu__item: a(href="#") blog
            li.top-menu__item: a(href="#") team
            li.top-menu__item: a(href="#") contact
      section.home
        .home__slider.slider
          .slider__item.slider-item.slider-item__active
            p.slider-item__text
              |the ham is&nbsp;
              span wordress theme
            h2.slider-item__title we are creative
            p.slider-item__description just buy and enjoy these awesome features
            a(href="#").slider-item__explore explore now
            a(href="#").slider-item__purchase purchase now
          .slider__item.slider-item
            p.slider-item__text
              |the ham is
              span wordress theme
            h2.slider-item__title we are creative
            p.slider-item__description just buy and enjoy these awesome features
            a(href="#").slider-item__explore explore now
            a(href="#").slider-item__purchase purchase now
          .slider__item.slider-item
            p.slider-item__text
              |the ham is
              span wordress theme
            h2.slider-item__title we are creative
            p.slider-item__description just buy and enjoy these awesome features
            a(href="#").slider-item__explore explore now
            a(href="#").slider-item__purchase purchase now
          .slider__nav.slider-nav
            .slider-nav__preview
            .slider-nav__left-arrow
            .slider-nav__right-arrow
      section.options
        .options__item.options-item
          .options-item__logo.options-item__logo_logo-1
          h4.options-item__title different theme option
        .options__item.options-item
          .options-item__logo.options-item__logo_logo-2
          h4.options-item__title fully customizable
        .options__item.options-item
          .options-item__logo.options-item__logo_logo-3
          h4.options-item__title unlimited support
        .options__item.options-item
          .options-item__logo.options-item__logo_logo-4
          h4.options-item__title responsive all device
      section.features
        h3.features__title creative amazing features
        .divider
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
        .features__item.features-item
          h6.features-item__title retina ready
          p.features-item__description All our modules are built with the possi
            | bility to thse choose between different design and you change.
      section.about
        .about__image
        .about__content.about-content
          h3.about-content__title about our company
          .about-content__history.history
            p.history__text Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.
            p.history__text Excepteur sint occaecat cupidatat non proident, sunt
              | in culpa qui officia deserunt mollit anim id est laborum.
            .history__achievements.achievements
              p.achievements__item-1 Excepteur sint occaecat sint.
              p.achievements__item-2 Excepteur sint occaecat sint.
              p.achievements__item-3 Excepteur sint occaecat sint.
              p.achievements__item-4 Excepteur sint occaecat sint.
              p.achievements__item-5 Excepteur sint occaecat sint.
              p.achievements__item-6 Excepteur sint occaecat sint.
              p.achievements__item-7 Excepteur sint occaecat sint.
              p.achievements__item-8 Excepteur sint occaecat sint.
          .about-content__biography.biography
            p.biography__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
              | nec odio ipsum Suspendisse cursus malesuada facilisis. Nunc con
              | sectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit
              | amet, consectetur adipiscing elit. Vestibu lum nec odio ipsum.
              | Sus pendisse cursus malesua da facilisis. Vestibulum nec odio ipsum.
            p.biography__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
              | nec odio ipsum Suspendisse cursus malesuada facilisis. Nunc con
              | sectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit
              | amet, consectetur adipiscing elit.
          .about-content__skills.skills.active
            .skills__item-1
              p user interface
            .skills__item-2
              p web design
            .skills__item-3
              p wordpress
            .skills__item-4
              p html & css
            .skills__item-5
              p app design
      section.work
        h3.work__title our amazing work
        .work__nav.work-nav
          a(href="#").work-nav__item all
          a(href="#").work-nav__item graphic design
          a(href="#").work-nav__item web design
          a(href="#").work-nav__item landing page
          a(href="#").work-nav__item wordpress
        .work__list.work-list
          .work-list__item.work-list__item_web-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type web design
          .work-list__item.work-list__item_graphic-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_wordpress.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type web design
          .work-list__item.work-list__item_web-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_web-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_landing-page.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_web-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_landing-page.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_web-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_graphic-design.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_wordpress.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
          .work-list__item.work-list__item_wordpress.item
            img(src="#" alt="item image").item__image
            .item__description.item-description
              .item-description__icon_icon-1
              .item-description__icon_icon-2
              p.item-description__name creative design
              p.item-description__type grapchic design
        a(href="#").work__button_special
      section.services
        h3.services__title our services
        .services__nav.services-nav
          a(href="#").services-nav__item-1 web design
          a(href="#").services-nav__item-2 graphic design
          a(href="#").services-nav__item-3 online support
          a(href="#").services-nav__item-4 app design
          a(href="#").services-nav__item-5 online marketing
          a(href="#").services-nav__item-6 seo service
        .services__list.services-list
          .services-list__item.services-list__item_web-design.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
          .services-list__item.services-list__item_graphic-design.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
          .services-list__item.services-list__item_online-support.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
          .services-list__item.services-list__item_app-design.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
          .services-list__item.services-list__item_online-marketing.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
          .services-list__item.services-list__item_seo-service.item
            .item__logo
            p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing
              | elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
              | culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
              | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
              | cupidatat non proident, sunt in culpa qui officia deserunt mollit
              | anim id est laborum. Deserunt mollit anim id est laborum. Lorem
              | ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              | occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              | mollit anim id est laborum.
      section.purchase
        h3.purchase__title everything is ready. just buy and install now
        p.purchase__description Smooth reliable, responsive ready, perfect portfolio,
          | unique blog layout and many many options for you
        a(href="#").purchase__button
      section.news
        h3.news__title breaking news
        .news__list.news-list
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
          .news-list__item.item
            .item__date
            .item__preview
            h3.item__title amazing post
            p.item__posted-by By admin
            a(href="#").item__comments 2 comments
      section.facts
        .facts__item.facts-item
          .facts-item__logo_logo-1
          .facts-item__count 4609
          .facts-item__type works
        .facts__item.facts-item
          .facts-item__logo_logo-2
          .facts-item__count 3470
          .facts-item__type customers
        .facts__item.facts-item
          .facts-item__logo_logo-3
          .facts-item__count 2908
          .facts-item__type purchase
        .facts__item.facts-item
          .facts-item__logo_logo-4
          .facts-item__count 1908
          .facts-item__type office
      section.pricing
        h2.pricing__title our pricing table
        .pricing__table.pricing-table
          .pricing-table__item.item
            h4.item__type personal
            p.item__price
              | $99
              span /month
            p.item__feature 1 hosting
            p.item__feature 2 email marketing
            p.item__feature 5 database
            p.item__feature 2 design pack
            p.item__feature 3 website layout
            p.item__feature 5 header style
            p.item__feature 3 online store
          .pricing-table__item.item
            h4.item__type business
            p.item__price
              | $199
              span /month
            p.item__feature 1 hosting
            p.item__feature 2 email marketing
            p.item__feature 5 database
            p.item__feature 2 design pack
            p.item__feature 3 website layout
            p.item__feature 5 header style
            p.item__feature 3 online store
          .pricing-table__item.item.item_special
            h4.item__type professional
            p.item__price
              | $299
              span /month
            p.item__feature 1 hosting
            p.item__feature 2 email marketing
            p.item__feature 5 database
            p.item__feature 2 design pack
            p.item__feature 3 website layout
            p.item__feature 5 header style
            p.item__feature 3 online store
          .pricing-table__item.item
            h4.item__type diamond
            p.item__price
              | $299
              span /month
            p.item__feature 1 hosting
            p.item__feature 2 email marketing
            p.item__feature 5 database
            p.item__feature 2 design pack
            p.item__feature 3 website layout
            p.item__feature 5 header style
            p.item__feature 3 online store
      section.feedback
        h3.feedback__title what people say about theHam
        .feedback__slider.feedback-slider
          .feedback-slider__item.item
            p.item__comment Integer dignissim, augue tempus ultricies luctus, quam
              | dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar
              | odio eget aliquam facilisis. Tempus ultricies luctus, quam dui
              | laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio
              | eget aliquam facilisis.
            p.item__author hasan ali
            p.item__author-position UX designer
            .item__author-photo
          .feedback-slider__nav.feedback-slider-nav
            .feedback-slider-nav__item
            .feedback-slider-nav__item
            .feedback-slider-nav__item.feedback-slider-nav__item_active
            .feedback-slider-nav__item
      section.team
        h3.team__title meet our team
        .team__list.team-list
          .team-list__item.item
            .item__photo
            p.item__name Al Masom
            p.item__position Founder
            .item__socials-links.socials-links
              a(href="#").socials-links.socials-links_fb
              a(href="#").socials-links.socials-links_tw
              a(href="#").socials-links.socials-links_sk
              a(href="#").socials-links.socials-links_vimeo
          .team-list__item.item
            .item__photo
            p.item__name Mis Liza
            p.item__position UX Designer
            .item__socials-links.socials-links
              a(href="#").socials-links.socials-links_fb
              a(href="#").socials-links.socials-links_tw
              a(href="#").socials-links.socials-links_sk
              a(href="#").socials-links.socials-links_vimeo
          .team-list__item.item
            .item__photo
            p.item__name HAsan Mahmud
            p.item__position Web Designer
            .item__socials-links.socials-links
              a(href="#").socials-links.socials-links_fb
              a(href="#").socials-links.socials-links_tw
              a(href="#").socials-links.socials-links_sk
              a(href="#").socials-links.socials-links_vimeo
          .team-list__item.item
            .item__photo
            p.item__name Afifa Jannat
            p.item__position Web Designer
            .item__socials-links.socials-links
              a(href="#").socials-links.socials-links_fb
              a(href="#").socials-links.socials-links_tw
              a(href="#").socials-links.socials-links_sk
              a(href="#").socials-links.socials-links_vimeo
      section.buy
        h3.buy__title theham is not only wordpress theme
        p.buy__description it's also clean and creative design
        .buy__image
        .buy__features.but-features
          .buy-features__item Clean Layout Design
          .buy-features__item Many Style Portfolio Design
          .buy-features__item Beautiful Blog Page
          .buy-features__item Mega PSD Pack
          .buy-features__item User Friendly Design
          .buy-features__item Full Shortcodes
          .buy-features__item Fully Editable PSD
          a(href="#").but-features__button purchase now
      section.contact
        .contact__map
        .contact__feedback-form
          form#feedback-form.feedback-form
            h3.feedback-form__title keep in touch
            label(for="name").feedback-form__label
            input(type="text" name="name" placeholder="name").feedback-form_field
            label(for="email").feedback-form__label
            input(type="text" name="email" placeholder="email").feedback-form_field
            textarea(name="name" placeholder="name").feedback-form_field
            label(for="submit").feedback-form__label
            input(type="submit" value="send request").feedback-form__submit
      footer.page-footer
        .page-footer__contacts.contacts
          h4.contacts__title
            |the
            span Ham
          p.contacts__address
            |Office:
            span 795 Folsom Ave, Suite 600 San Francisco, CA 94107
          p.contacts__phone
            |Phone:
            span (91) 8547 632521
          p.contacts__fax
            |Fax:
            span (91) 11 4752 1433
          p.contacts__email
            |Email:
            span info@canvas.com
        .page-footer__blog.blog
          h4.blog__title recent post
          .blog__item.item
            img(src="#" alt="preview").item__preview
            .item__post.post
              h5.post__title a standart image post
              p.post__undertitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptatem.
              p.post__date 10 March, 2015
          .blog__item.item
            img(src="#" alt="preview").item__preview
            .item__post.post
              h5.post__title multi author post
              p.post__undertitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptatem.
              p.post__date 10 March, 2015
          .blog__item.item
            img(src="#" alt="preview").item__preview
            .item__post.post
              h5.post__title a standart image post
              p.post__undertitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, voluptatem.
              p.post__date 10 March, 2015
        .page-footer__tags.tags
          h4.tags__title tags
          .tags__list.tags-list
            .tags-list__item audio
            .tags-list__item gallery
            .tags-list__item image
            .tags-list__item audio
            .tags-list__item gallery
            .tags-list__item image
            .tags-list__item audio
            .tags-list__item gallery
            .tags-list__item image
            .tags-list__item audio
            .tags-list__item gallery
            .tags-list__item image
        .page-footer__feed.feed
          h4.feed__title flicke feed
          img(src="#" alt="feed-item").feed__item
          img(src="#" alt="feed-item").feed__item
          img(src="#" alt="feed-item").feed__item
          img(src="#" alt="feed-item").feed__item
          img(src="#" alt="feed-item").feed__item
          img(src="#" alt="feed-item").feed__item
        p.page-footer__copyrights Copyright 2015 theHam | All Rights Reserved
